# Build a DataFrame of Islamic bank products (Product, Revenue, Customers). Find which product earns the highest revenue.

In [3]:
import pandas as pd
import numpy as np

In [6]:
products = ["Murabaha", "Ijarah", "Mudarabah", "Sukuk", "Istisna", "Takaful"]
revenue = np.random.randint(50, 500, size=len(products)) * 1_000_000  # in millions
customers = np.random.randint(1000, 20000, size=len(products))

In [10]:
df = pd.DataFrame({
    "Product": products,
    "Revenue": revenue,
    "Customers": customers
})
df

     Product    Revenue  Customers
0   Murabaha  411000000      17471
1     Ijarah  178000000       7018
2  Mudarabah  458000000       7592
3      Sukuk  188000000       1438
4    Istisna  380000000       8515
5    Takaful   95000000      17353

In [16]:
maxrev = df.loc[df["Revenue"].idxmax()]
maxrev

Product      Mudarabah
Revenue      458000000
Customers         7592
Name: 2, dtype: object